/* .postButton{
    background-color: #e9d8fd;
    border: none;
    width: 167px;
    height: 40px;
    border-radius: 64px;
} */

.rightPane{    
    width: 29%;
    height: 100%;
}

.postButton{
    height: 2.5rem;
    width: 10.4375rem;
    border-radius: 64px;
    padding-left: 10px;
    margin-right: 5%;
    background-color: #e9d8fd;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

nav{
    padding-top: 0.625rem;
}

ul > li{
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 50%;
    background-color: #e9d8fd;
    margin-bottom: 1.625rem;
    margin-left: auto;
    margin-right: auto;
}