/* .searchInput{
    border:none;
    background-color: #E9D8FD;
    width: 272px;
    height: 40px;
    border-radius: 64px ;
} */

/*
    input search
*/
.search{
    height: 28px;
    width: 60%;
    border-radius: 64px;
    padding-left: 10px;
    margin-right: 5%;
    background-color: #e9d8fd;
    color: #fff;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchInput{
    height: 28px;
    width: 100%;
    border-style: none;
    background: none;
}
