.sign-in-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 500px;
    background: #FFFFFF;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-in-container h2 {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 60px;
}

form {
    position: absolute;
    top: 110px;
}

.input{
    display: flex;
    flex-direction: column;
}

input {
    width: 471px;
    height: 47px;
    background: #E9D8FD;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 17px;
    margin-bottom: 30px;
    margin-top:10px;
}

form label {
    font-weight: 600;
}

.sign-in-container button {
    position: absolute;
    bottom: 120px;
    width: 250px;
    height: 45px; 
    background: #43E152;
    border-radius: 64px;
    border: none;
    outline: none;
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.sign-in-container button:hover {
    background: #37d347;
    transition: all 500ms;
}
.sign-in-container .sign-in {
    position: absolute;
    bottom:70px;
}
.sign-in-container a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
.sign-in-container a:hover {
    text-decoration: underline;
}
