/*
*
*Styles to the header
*
*/

#header{
    height: 3.125rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: .8rem 4.1875rem;
    justify-content: center;
    font-size: 0.9375rem;
    background-color: #fff;}

#header{
    box-shadow: 0 4px 12px rgba(232, 217, 253, .5);
    position: fixed;
    top: 0;
    z-index: 3;
}

#header > div{
    width: 33.33%;
}

#profile{
    display: flex;
    flex-direction: row;
}

#center{
    text-align: center;
    font-weight: bold;
}

.userName{
    width: 90%;
    padding-right: .8rem;
    text-align: right;
}

#profile > img{
    width: 1.625rem;
    height: 1.625rem;
}

#left{
    font-size: 1.1875rem;
    font-weight: bold;
}