/* .profileIdentity{
    display: flex;
    flex-direction: column;
}

.profileIdentity img{
    height: 168px;
    width: 168px;
    border-radius: 50%;
}

.profileIdentity figcaption{
    display: flex;
    justify-content: center;
}

.profileIdentity h4{
    font-weight: bold;
} */