.group{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.625rem;
}

.group > div{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: .5rem;
}

.group > img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.groupName{
    font-weight: bold;
}