.postButton{
    height: 2.5rem;
    width: 10.4375rem;
    border-radius: 64px;
    padding-left: 10px;
    margin-right: 5%;
    background-color: #e9d8fd;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: large;
    border-style: none;
}

#popup-2{
    width: 37.5rem;
    height: 17.875rem;
    border-radius: 0.9375rem;
}

.popupForm{
    width: 90%;
    height: 80%;
    margin: 0 auto;
}

.popupForm textarea{
    width: 100%;
    height: 100%;
    border-style: none;
}
