.App{
    min-height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
}

#middlePane{
    width: 100%;
    margin-top:15%;
}

/* .body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:84px;
    font-size: 15px;
} */

/*
.body{
    position: absolute;
    top: 79.5px;
}
*/
