.App{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    height: 100vh;
    background-color: thistle;
}

/* .body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:84px;
    font-size: 15px;
} */

/*
.body{
    position: absolute;
    top: 79.5px;
}
*/
