@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
.ant-form-item-label > label {
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

.container {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(112, 144, 176, 0.25);
  border-radius: 20px;
  padding: 60px;
  
}

.page-name {
  font-family: "Poppins";
  font-weight: 900;
  font-size: 22px;

}

.ant-input {

  height: 48px;
  font-family: "Inter";
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    #d2d2d1;
  border: 2px solid #d2d2d1;
  box-sizing: border-box;
  border-radius: 10px;
}

.custom_checkbox {
  font-family: "Inter";
}

.ant-input:focus,
.ant-input-focused {
  border-color: #4385f5;
  border-right-width: 1px !important;
  box-shadow: none;
}

.custom_label {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}
.chat-logo {
  font-family: "Hind", sans-serif;
}

.btn {
  font-family: "Nunito", sans-serif;
}

.forgot_password {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 20px;
}
.custom_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}
