@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap');

.ant-form-item-label > label {
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
}

.page-name{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.ant-input {
  height: 2.25rem;
  border-radius: 0.625rem;
}

.ant-input:focus, .ant-input-focused {
  border-color: #20D493;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: none;
}

.chat-logo{
  font-family: 'Nunito', sans-serif;
}